
<header>
  <img class="logo" [src]="appLogo"/>
  <span [innerHTML]="appTitle"></span>
  <nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active-menu-item">List</a></li>
      <li *ngIf="auth.isLogged() && auth.getRole()=='admin'"><a routerLink="register" routerLinkActive="active-menu-item">Register</a></li>
      <li><a routerLink="about/value1" routerLinkActive="active-menu-item">About</a></li>
      <li *ngIf="!auth.isLogged()"><a routerLink="login" routerLinkActive="active-menu-item">Login</a></li>
      <li *ngIf="auth.isLogged()" class="user">
        <span>{{auth.getUsername()}}</span>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</header>
