<div>
  <h1>Ticketing system</h1>
  <p>Ticketing system used for issues registration...</p>
  <p>value: {{value}}</p>
  <p>If you want to review ticket list go to <button (click)="goToList()">list</button></p>
</div>
