<div class="form-container">
  <form #f="ngForm" (ngSubmit)="login(f.value)">
    <span class="label">Username</span>
    <span><input type="text" ngModel name="username"></span>
    <span class="label">Password</span>
    <span><input type="password" ngModel name="password"></span>
    <span class="label"><input type="submit" value="Login"></span>
  </form>
</div>
