<div class="form-status">
  <table>
    <tr><td>status:</td><td>{{modelForm.status}}</td></tr>
    <tr><td>touched:</td><td>{{modelForm.touched}}</td></tr>
    <tr><td>dirty:</td><td>{{modelForm.dirty}}</td></tr>
    <tr><td>pristine:</td><td>{{modelForm.pristine}}</td></tr>
    <tr><td>valid:</td><td>{{modelForm.valid}}</td></tr>
  </table>
</div>

<div class="new-ticket-container">
  <h3>Register new ticket</h3>

  <div class="form-container" *ngIf="!ticket">
    <form [formGroup]="modelForm" (ngSubmit)="submitForm()">
      <span class="label">Subject</span>
      <span><input type="text" formControlName="subject" name="subject"></span>
      <span class="label">Description</span>
      <span><textarea formControlName="description" name="description"></textarea></span>
      <span class="label">Priority</span>
      <span><input type="text" formControlName="priority" name="priority"></span>
      <span class="label"><input type="submit" value="Register" [disabled]="!modelForm.valid"></span>
    </form>
  </div>
  <div *ngIf="ticket">
    <h3>Succesfully registered new ticket!</h3><br>
    Ticket ID: {{ticket.id}}<br>
    Subject: {{ticket.subject}}
    <button (click)="clearContext()">Register new ticket</button>
  </div>
</div>
