<div class="new-ticket-container">
  <h3>Register new ticket</h3>
  <div class="ticket-form-container">
    <form #newTicketForm="ngForm" (ngSubmit)="submitForm(newTicketForm.value)">
      <span class="label">Subject</span><br/>
      <span><input type="text" ngModel name="subject" required></span><br/>
      <span
        class="error"
        *ngIf="newTicketForm.controls.subject.touched && !newTicketForm.controls.subject.valid">Subject required</span><br/>
      <span class="label">Description</span><br/>
      <span><textarea ngModel name="description"></textarea></span><br/><br/>
      <span class="label">Priority</span><br/>
        <span><input type="text" ngModel name="priority" pattern="[1-3]?" required></span><br/><br/>
      <span><input type="submit" value="Register" [disabled]="!newTicketForm.valid"></span>
    </form>
  </div>
</div>
