body {
  text-align: center;
  background-color: lavender;
  margin: 0;
}

.main-container {
  width: 100%;
  text-align: center;
  font-family: Verdana;
  margin-top: 150px;
}

.header-container{
  width: 100%;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 0;
  background-color: #008080;
  font-size: 40px;
  font-family: Verdana;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 30px -1px rgba(0,0,0,0.75);
}

header > img.logo {
  width: 70px;
  margin-right: 20px;
  float: left;
}

img.logo ~ span{
  width: 100%;
  /* text-align: center; */
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-size: 30px;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a.active-menu-item{
  color: gold;
}

nav li.user span{
  font-size: 20px;
  background-color: tomato;
  text-transform: uppercase;
  padding: 10px;
}

.tickets-container {
  font-size: 30px;
}

.tickets-container > h3 {
  color: tomato;
  font-weight: normal;
  padding: 20px;
  /*border: 1px solid tomato;*/

}

.ticket-list-container ul {
  margin: 0;
}

.ticket-list-container li {
  list-style: none;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid tomato;
  text-align: left;
  /*display: flex;*/
  align-items: center;
}
.ticket-list-container {
  float: left;
  width: 50%;
}

.ticket-list-container li .priority {
  float: left;
  font-size: 14px;
  background-color: #008080;
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}

.ticket-list-container li .status {
  float: right;
  font-size: 14px;
  background-color: #008080;
  padding: 10px;
  color: white;
  font-weight: bold;
  justify-self: right;
  align-self: flex-end;

}

.ticket-list-container li .subject {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.ticket-details-container{
  padding: 20px;
  text-align: left;
  display: inline-block;
  width: 40%;
  color: #008080;
  border: 1px solid #008080;
  font-size: 20px;
}

.ticket-subject{
  margin-top:0;
  color: #333;
}


.form-status{
  position: absolute;
  right: 0;
}
.form-status td {
  background-color: palegoldenrod;
  padding: 5px;
}

.form-status tr td:first-child{
  text-align: right;
}

.form-status tr td:last-child{
  text-align: left;
}

.form-container {
  width: unset;
  display: inline-block;
  text-align: left;
}
.form-container form {
  text-align: left;
}

.form-container form input,
.form-container form textarea {
  border: 0px;
  padding: 10px;
  background-color: lightgreen;
}

.form-container form input[type=submit]{
  margin-top: 5px;
  width: 100%;
  background-color: tomato;
  color: white;
  text-transform: uppercase;
}

.form-container .label {
  margin-top: 10px;
  display: block;
}

.label{
  margin-top: 40px;
  font-size: 20px;
  text-transform: uppercase;
  color: #008080;
  font-weight: lighter;
}

.clear-selected{
  float: right;
  margin-top: -10px;
  color: tomato;
}

span.error {
  color: red;
  font-size: 14px;
}
