
<div class="ticket-list-container">
  <ul>
    <li *ngFor="let ticket of ticketList" (click)="ticketClicked(ticket)">
      <span class="priority" priorityCheck [priority]="ticket.priority"></span>
      <span class="subject">{{ticket.subject}}</span>
      <span class="status" statusCheck [status]="ticket.status"></span>

    </li>
  </ul>
</div>
<div *ngIf="selected" class="ticket-details-container">
  <span class="clear-selected" (click)="clearSelected()">x</span>
  <h5 class="ticket-subject">TICKET DETAILS</h5>
  <span class="label">Subject</span><br/>
  <span>{{ selected.subject }}</span><br/><br/>
  <span class="label">Description</span><br/>
  <span>{{selected.description}}</span><br/><br/>
  <span class="label">Priority</span><br/>
  <span>{{selected.priority | priority}}</span><br/>
  <span *ngIf="selected.status==1"><button (click)="startTicket()">Start</button></span>
  <span *ngIf="selected.status==2"><button (click)="closeTicket()">Close</button></span>
</div>
